.block-inline-blockimage-and-text-block {
  .uds-image-text-block-text-container {
    padding: $uds-size-spacing-6;
    // Recommended by Debbie Flitner.
    :is(h2, h3, h4, h5, h6):first-of-type {
      margin-top: 0;
    }
  }

  .col-md-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .uds-image-text-block-container {
    max-height: none;
  }

}
