!node_modules
node_modules/*

!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu-design-system/component-carousel
node_modules/@asu-design-system/component-carousel/*
!node_modules/@asu-design-system/component-carousel/dist
node_modules/@asu-design-system/component-carousel/dist/*
!node_modules/@asu-design-system/component-carousel/dist/carousel.production.js
!node_modules/@asu-design-system/component-carousel/dist/core.production.js
!node_modules/@asu-design-system/component-carousel/dist/vendor.production.js
!node_modules/@asu-design-system/component-carousel/dist/asuCarousel.umd.js
!node_modules/@asu-design-system/component-carousel/dist/vendor.umd.js
!node_modules/@asu-design-system/components-core
node_modules/@asu-design-system/components-core/*
!node_modules/@asu-design-system/components-core/dist
node_modules/@asu-design-system/components-core/dist/*
!node_modules/@asu-design-system/components-core/dist/libCore.min.js
!node_modules/@asu-design-system/components-core/dist/libCore.umd.js

!node_modules/@asu
node_modules/@asu/*
!node_modules/@asu/component-carousel
node_modules/@asu/component-carousel/*
!node_modules/@asu/component-carousel/dist
node_modules/@asu/component-carousel/dist/*
!node_modules/@asu/component-carousel/dist/carousel.production.js
!node_modules/@asu/component-carousel/dist/core.production.js
!node_modules/@asu/component-carousel/dist/vendor.production.js
!node_modules/@asu/component-carousel/dist/asuCarousel.umd.js
!node_modules/@asu/component-carousel/dist/vendor.umd.js
!node_modules/@asu/components-core
node_modules/@asu/components-core/*
!node_modules/@asu/components-core/dist
node_modules/@asu/components-core/dist/*
!node_modules/@asu/components-core/dist/libCore.min.js
!node_modules/@asu/components-core/dist/libCore.umd.js

.idea/
.DS_Store
