.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

@media (max-width: 767.98px) {
  .page-wrapper-webspark main {
    margin-top: 4px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-wrapper-webspark main {
    margin-top: -28px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .page-wrapper-webspark main {
    margin-top: -6px;
  }
}

/* Make skip to content link visible upon focus (it was hidden by the ASU
Header */
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: relative;
  z-index: 1050;
}

.PXYlt .header-top .nav .links-container .nav-link:focus,
.PXYlt .header-top .nav .links-container .nav-link:active,
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  padding: 0.25rem 0.5rem !important;
}

.pagination .page-link:hover {
  color: inherit;
}

.layout-builder-form .form-actions {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 400px);
  z-index: 10;
  align-items: baseline;
  border-radius: 20px 20px 0 0;
  width: 800px;
}

body .layout-builder-block {
  background: none;
}

#drupal-off-canvas .form-text.description,
#drupal-off-canvas .form-tel.description,
#drupal-off-canvas .form-email.description,
#drupal-off-canvas .form-url.description,
#drupal-off-canvas .form-search.description,
#drupal-off-canvas .form-number.description,
#drupal-off-canvas .form-color.description,
#drupal-off-canvas .form-file.description,
#drupal-off-canvas .form-textarea.description,
#drupal-off-canvas .form-date.description,
#drupal-off-canvas .form-time.description {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #ddd !important;
  font-size: 10px !important;
  margin-top: 0 !important;
  padding-left: 0;
}

.spacing-top-8 {
  padding-top: 8px;
}

.spacing-top-16 {
  padding-top: 16px;
}

.spacing-top-24 {
  padding-top: 24px;
}

.spacing-top-32 {
  padding-top: 32px;
}

.spacing-top-40 {
  padding-top: 40px;
}

.spacing-top-48 {
  padding-top: 48px;
}

.spacing-top-72 {
  padding-top: 72px;
}

.spacing-top-96 {
  padding-top: 96px;
}

.spacing-bottom-8 {
  padding-bottom: 8px;
}

.spacing-bottom-16 {
  padding-bottom: 16px;
}

.spacing-bottom-24 {
  padding-bottom: 24px;
}

.spacing-bottom-32 {
  padding-bottom: 32px;
}

.spacing-bottom-40 {
  padding-bottom: 40px;
}

.spacing-bottom-48 {
  padding-bottom: 48px;
}

.spacing-bottom-72 {
  padding-bottom: 72px;
}

.spacing-bottom-96 {
  padding-bottom: 96px;
}

.spacing-top-minus-8 {
  margin-top: -8px;
}

.spacing-top-minus-16 {
  margin-top: -16px;
}

.spacing-top-minus-24 {
  margin-top: -24px;
}

.spacing-top-minus-32 {
  margin-top: -32px;
}

.spacing-top-minus-40 {
  margin-top: -40px;
}

.spacing-top-minus-48 {
  margin-top: -48px;
}

.spacing-top-minus-72 {
  margin-top: -72px;
}

.spacing-top-minus-96 {
  margin-top: -96px;
}

.spacing-bottom-minus-8 {
  margin-bottom: -8px;
}

.spacing-bottom-minus-16 {
  margin-bottom: -16px;
}

.spacing-bottom-minus-24 {
  margin-bottom: -24px;
}

.spacing-bottom-minus-32 {
  margin-bottom: -32px;
}

.spacing-bottom-minus-40 {
  margin-bottom: -40px;
}

.spacing-bottom-minus-48 {
  margin-bottom: -48px;
}

.spacing-bottom-minus-72 {
  margin-bottom: -72px;
}

.spacing-bottom-minus-96 {
  margin-bottom: -96px;
}

.spacing-left-8 {
  padding-left: 8px;
}

.spacing-left-16 {
  padding-left: 16px;
}

.spacing-left-24 {
  padding-left: 24px;
}

.spacing-right-8 {
  padding-right: 8px;
}

.spacing-right-16 {
  padding-right: 16px;
}

.spacing-right-24 {
  padding-right: 24px;
}

@media (max-width: 767.98px) {
  .spacing-top-8 {
    padding-top: 4px;
  }

  .spacing-top-16 {
    padding-top: 8px;
  }

  .spacing-top-24 {
    padding-top: 12px;
  }

  .spacing-top-32 {
    padding-top: 16px;
  }

  .spacing-top-40 {
    padding-top: 20px;
  }

  .spacing-top-48 {
    padding-top: 24px;
  }

  .spacing-top-72 {
    padding-top: 36px;
  }

  .spacing-top-96 {
    padding-top: 48px;
  }

  .spacing-bottom-8 {
    padding-bottom: 4px;
  }

  .spacing-bottom-16 {
    padding-bottom: 8px;
  }

  .spacing-bottom-24 {
    padding-bottom: 12px;
  }

  .spacing-bottom-32 {
    padding-bottom: 16px;
  }

  .spacing-bottom-40 {
    padding-bottom: 20px;
  }

  .spacing-bottom-48 {
    padding-bottom: 24px;
  }

  .spacing-bottom-72 {
    padding-bottom: 36px;
  }

  .spacing-bottom-96 {
    padding-bottom: 48px;
  }

  .spacing-top-minus-8 {
    margin-top: -4px;
  }

  .spacing-top-minus-16 {
    margin-top: -8px;
  }

  .spacing-top-minus-24 {
    margin-top: -12px;
  }

  .spacing-top-minus-32 {
    margin-top: -16px;
  }

  .spacing-top-minus-40 {
    margin-top: -20px;
  }

  .spacing-top-minus-48 {
    margin-top: -24px;
  }

  .spacing-top-minus-72 {
    margin-top: -36px;
  }

  .spacing-top-minus-96 {
    margin-top: -48px;
  }

  .spacing-bottom-minus-8 {
    margin-bottom: -4px;
  }

  .spacing-bottom-minus-16 {
    margin-bottom: -8px;
  }

  .spacing-bottom-minus-24 {
    margin-bottom: -12px;
  }

  .spacing-bottom-minus-32 {
    margin-bottom: -16px;
  }

  .spacing-bottom-minus-40 {
    margin-bottom: -20px;
  }

  .spacing-bottom-minus-48 {
    margin-bottom: -24px;
  }

  .spacing-bottom-minus-72 {
    margin-bottom: -36px;
  }

  .spacing-bottom-minus-96 {
    margin-bottom: -48px;
  }
}
.article--headinfo {
  font-weight: 700;
}
.article--headinfo.article--date-published {
  margin-bottom: 1rem;
}
.article--headinfo.article--author {
  text-transform: uppercase;
}

.node.article.article--full .uds-story-hero .content h1.type--article {
  margin-top: 3rem;
}

body article.degree-detail-page--full .uds-anchor-menu {
  top: 116px !important;
}
@media (min-width: 1200px) {
  body article.degree-detail-page--full .uds-anchor-menu {
    top: 89px !important;
  }
}
body.toolbar-vertical article.degree-detail-page--full .uds-anchor-menu {
  top: 116px !important;
}
@media (min-width: 610px) {
  body.toolbar-vertical article.degree-detail-page--full .uds-anchor-menu {
    top: 155px !important;
  }
}
body.toolbar-horizontal article.degree-detail-page--full .uds-anchor-menu {
  top: 195px !important;
}
@media (min-width: 1200px) {
  body.toolbar-horizontal article.degree-detail-page--full .uds-anchor-menu {
    top: 168px !important;
  }
}
/*# sourceMappingURL=renovation.style.css.map*/