.parallax-container {
  height: 36rem;

  @media screen and (max-width: $uds-breakpoint-md) {
    height: 45rem;
  }

  img {
    left: 0 !important;
    object-fit: cover;
  }

  .parallax-container-content {
    @media screen and (max-width: $uds-breakpoint-md) {
      display: block;
    }
  }
}
