{% set classes = [
  elements['#embed'] == true ? 'embedded-media' ] %}

  <div{{ attributes.addClass(classes) }}>
    {{ title_suffix.contextual_links }}
    <div class="{{ 'rounded' in content.field_media_image['#bundle']  ? 'img-rounded' : '' }}">
      {{ content }}
    </div>
  </div>
