!node_modules
node_modules/*

!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu-design-system/unity-react-core
node_modules/@asu-design-system/unity-react-core/*
!node_modules/@asu-design-system/unity-react-core/dist
node_modules/@asu-design-system/unity-react-core/dist/*
!node_modules/@asu-design-system/unity-react-core/dist/carousel.production.js
!node_modules/@asu-design-system/unity-react-core/dist/core.production.js
!node_modules/@asu-design-system/unity-react-core/dist/vendor.production.js
!node_modules/@asu-design-system/unity-react-core/dist/asuCarousel.umd.js
!node_modules/@asu-design-system/unity-react-core/dist/vendor.umd.js
!node_modules/@asu-design-system/unity-react-core
node_modules/@asu-design-system/unity-react-core/*
!node_modules/@asu-design-system/unity-react-core/dist
node_modules/@asu-design-system/unity-react-core/dist/*
!node_modules/@asu-design-system/unity-react-core/dist/libCore.min.js
!node_modules/@asu-design-system/unity-react-core/dist/libCore.umd.js

!node_modules/@asu
node_modules/@asu/*
!node_modules/@asu/unity-react-core
node_modules/@asu/unity-react-core/*
!node_modules/@asu/unity-react-core/dist
node_modules/@asu/unity-react-core/dist/*
!node_modules/@asu/unity-react-core/dist/carousel.production.js
!node_modules/@asu/unity-react-core/dist/core.production.js
!node_modules/@asu/unity-react-core/dist/vendor.production.js
!node_modules/@asu/unity-react-core/dist/asuCarousel.umd.js
!node_modules/@asu/unity-react-core/dist/vendor.umd.js
!node_modules/@asu/unity-react-core
node_modules/@asu/unity-react-core/*
!node_modules/@asu/unity-react-core/dist
node_modules/@asu/unity-react-core/dist/*
!node_modules/@asu/unity-react-core/dist/libCore.min.js
!node_modules/@asu/unity-react-core/dist/libCore.umd.js

.idea/
.DS_Store
