// --------------------------------------------------------
// Admin
// --------------------------------------------------------
.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

// --------------------------------------------------------
// Pages
// --------------------------------------------------------
html,
body,
.dialog-off-canvas-main-canvas {
  height: 100%;
}

.page-wrapper-webspark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-wrapper-webspark main {
  @include media-breakpoint-down(md) {
    margin-top: 4px;
  }

  @include media-breakpoint-only(lg) {
    margin-top: -28px;
  }

  @include media-breakpoint-only(xl) {
    margin-top: -6px;
  }
}

// --------------------------------------------------------
// Accessibility
// --------------------------------------------------------
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: relative;
  z-index: 1050;
}

// The .PXYlt class is coming from the ASU Header
// May be suitable to just change the CSS there, but would still need
// to target the .sr-focusable class here anyway
.PXYlt .header-top .nav .links-container .nav-link:focus,
.PXYlt .header-top .nav .links-container .nav-link:active,
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  padding: 0.25rem 0.5rem !important;
}

// --------------------------------------------------------
// Pagination
// --------------------------------------------------------
.pagination .page-link:hover {
  color: inherit;
}

// --------------------------------------------------------
// Embeded Media
// --------------------------------------------------------
// Fix center alignment
.align-center {
  width: max-content;
  img {
    max-width: initial;
  }
}

// Normalize Drupal figures with UDS
// TODO: Replace the hard values with UDS variables
// TODO: Target both Drupal and UDS embeds
figure.caption.caption-drupal-media.align-left {
  padding-right: 5px;
}

figure.caption.caption-drupal-media.align-left {
  padding-left: 5px;
}

figure.caption-drupal-media {
  .embedded-media {
    img {
      border: 1px solid #d0d0d0;
    }
  }

  figcaption {
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0% 0% no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
    text-align: left;

    span {
      color: $uds-color-base-gray-5;
      max-width: 75ch;
    }
  }
}
