// This file is a place to put CSS overrides for default Drupal styles.
// If you need to add an override to a UDS component, please do so in the
// component's Sass file. As UDS components are designed to be used as
// stand-alone components, they should not require any overrides unless in
// the context of when a default Drupal style has an adverse effect on the
// component.

// --------------------------------------------------------
// Admin
// --------------------------------------------------------
.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

// --------------------------------------------------------
// Pages
// --------------------------------------------------------
html,
body,
.dialog-off-canvas-main-canvas {
  height: 100%;
}

.page-wrapper-webspark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-wrapper-webspark main {
  @include media-breakpoint-down(md) {
    margin-top: 4px;
  }

  @include media-breakpoint-only(lg) {
    margin-top: -28px;
  }

  @include media-breakpoint-only(xl) {
    margin-top: -6px;
  }
}

// --------------------------------------------------------
// Accessibility
// --------------------------------------------------------
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: relative;
  z-index: 1050;
}

// The .PXYlt class is coming from the ASU Header
// May be suitable to just change the CSS there, but would still need
// to target the .sr-focusable class here anyway
.PXYlt .header-top .nav .links-container .nav-link:focus,
.PXYlt .header-top .nav .links-container .nav-link:active,
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  padding: 0.25rem 0.5rem !important;
}

// --------------------------------------------------------
// Pagination
// --------------------------------------------------------
.pagination .page-link:hover {
  color: inherit;
}

// --------------------------------------------------------
// Embeded Media
// --------------------------------------------------------
// Fix center alignment
.align-center {
  width: max-content;

  img {
    max-width: initial;
  }
}

// Normalize Drupal figures with UDS
// TODO: Replace the hard values with UDS variables
// TODO: Target both Drupal and UDS embeds
figure.caption.caption-drupal-media.align-left {
  padding-right: 5px;
}

figure.caption.caption-drupal-media.align-left {
  padding-left: 5px;
}

figure.caption-drupal-media {
  .embedded-media {
    img {
      border: 1px solid #d0d0d0;
    }
  }

  figcaption {
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0% 0% no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
    text-align: left;

    span {
      color: $uds-color-base-gray-5;
      max-width: 75ch;
    }
  }
}

// Apply border to embedded image
.embedded-media {
  max-width: 100% !important;

  img {
    border: 1px solid $uds-color-base-gray-3;
    max-width: 100% !important;
    height: auto;
  }
}

// Figcaption Overrides CKeditor
.caption-drupal-media {
  img {
    border: 1px solid $uds-color-base-gray-3;
  }

  figcaption {
    span {
      max-width: 700px !important;
    }
  }
}

figure.caption-img {
  caption-side: bottom;

  img {
    border: 1px solid $uds-color-base-gray-3;
    margin: 0 !important;
  }

  figcaption {
    display: flex;
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0 0 no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
    text-align: left;

    span {
      flex-grow: 1;
      max-width: 75ch;
      width: 0;
      color: $uds-color-base-gray-5;
    }
  }
}

.rounded-circle img {
  border-radius: 50px !important;
}

@include media-breakpoint-down(sm) {
  figure.align-center {
    width: 100%;
  }
}
