// TODO: Move this code to UDS
.uds-charts-and-graphs-overlay .p, .uds-charts-and-graphs-overlay p {
    font: normal normal 700 2.5rem Arial;
    margin: .5rem;
}

.uds-charts-and-graphs-overlay span {
    font: normal normal 700 1.125rem Arial;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto 0 auto;
}