# NodeJS projects
!node_modules
node_modules/*

# Drupal/external libraries
/vendor/

# PHPStorm (IDE) configurations
.idea/

# Config management script output
config/_changes.diff
config/**/_diff_commands.bash
*APPLICABLE.patch
.DS_Store
*.DS_Store
