#drupal-off-canvas-wrapper {
  padding-right: 0.25rem;
}
#drupal-off-canvas-wrapper .form-text.description,
#drupal-off-canvas-wrapper .form-tel.description,
#drupal-off-canvas-wrapper .form-email.description,
#drupal-off-canvas-wrapper .form-url.description,
#drupal-off-canvas-wrapper .form-search.description,
#drupal-off-canvas-wrapper .form-number.description,
#drupal-off-canvas-wrapper .form-color.description,
#drupal-off-canvas-wrapper .form-file.description,
#drupal-off-canvas-wrapper .form-textarea.description,
#drupal-off-canvas-wrapper .form-date.description,
#drupal-off-canvas-wrapper .form-time.description {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #ddd !important;
  font-size: 10px !important;
  margin-top: 0 !important;
  padding-left: 0;
}
#drupal-off-canvas-wrapper form.uds-form.layout-builder-configure-block .media-library-widget .fieldset-legend::after {
  background-image: none;
}
#drupal-off-canvas-wrapper form.uds-form.layout-builder-configure-block .media-library-widget .media-library-item--grid {
  background: none;
}
#drupal-off-canvas-wrapper form.uds-form.layout-builder-configure-block .media-library-widget .media-library-item--grid::before {
  border: none;
}
#drupal-off-canvas-wrapper form.uds-form.layout-builder-configure-block .media-library-widget .media-library-item--grid .media-library-item__name {
  color: inherit;
}
#drupal-off-canvas-wrapper form.uds-form.layout-builder-configure-block .media-library-widget .media-library-item--grid .media-library-item__attributes {
  background: none;
  bottom: 0.5rem;
}
#drupal-off-canvas-wrapper form.uds-form label svg.uds-field-required {
  color: #f7dddd;
}
#drupal-off-canvas-wrapper form.uds-form .form-required::after {
  color: #f7dddd;
}
#drupal-off-canvas-wrapper form button.tabledrag-toggle-weight {
  color: #d6f0fa;
}
#drupal-off-canvas-wrapper form button.tabledrag-toggle-weight:hover {
  color: #d6f0fa;
  font-weight: 700;
}
#drupal-off-canvas-wrapper form button.tabledrag-toggle-weight:focus {
  color: #d6f0fa;
  box-shadow: none;
}
#drupal-off-canvas-wrapper form .alert-danger a {
  color: #191919;
  text-decoration: underline;
}
#drupal-off-canvas-wrapper .layout-selection li div {
  color: #d6f0fa;
}
#drupal-off-canvas-wrapper a {
  background: inherit;
  color: #d6f0fa;
}
#drupal-off-canvas-wrapper input[type=search]:not(.js-off-canvas-computed-ignore) {
  color: #191919;
}
#drupal-off-canvas-wrapper input[type=search]:not(.js-off-canvas-computed-ignore)::-moz-placeholder {
  color: #191919;
}
#drupal-off-canvas-wrapper input[type=search]:not(.js-off-canvas-computed-ignore)::placeholder {
  color: #191919;
}
#drupal-off-canvas-wrapper .description.text-muted {
  color: inherit !important;
}
#drupal-off-canvas-wrapper .description a {
  color: inherit;
  text-decoration: underline;
}
#drupal-off-canvas-wrapper .banner-green,
#drupal-off-canvas-wrapper .banner-orange,
#drupal-off-canvas-wrapper .banner-blue,
#drupal-off-canvas-wrapper .banner-gray {
  outline: black 5px solid;
}
#drupal-off-canvas-wrapper .banner-black {
  outline: #e8e8e8 5px solid;
}
#drupal-off-canvas-wrapper input {
  padding: 4px 20px !important;
}
#drupal-off-canvas-wrapper th {
  color: #fff;
}
#drupal-off-canvas-wrapper .form-wrapper + .form-wrapper {
  margin-top: 0.5rem;
}
#drupal-off-canvas-wrapper .form-wrapper .form-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#drupal-off-canvas-wrapper .icons-selector.fip-grey .fip-box:hover,
#drupal-off-canvas-wrapper .icons-selector .selected-icon {
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
}
#drupal-off-canvas-wrapper fieldset {
  background: inherit;
  color: #ddd;
}
#drupal-off-canvas-wrapper .card-header:not(summary) {
  padding: 0;
}
#drupal-off-canvas-wrapper .js-form-type-checkbox .description {
  margin-left: 1rem;
}
#drupal-off-canvas-wrapper .js-filter-guidelines {
  font-size: 12px;
}
#drupal-off-canvas-wrapper .webform-element-more .cm-s-default * {
  color: #ddd;
}
#drupal-off-canvas-wrapper .draggable a.tabledrag-handle .handle {
  height: 18px;
  -webkit-mask: inherit;
          mask: inherit;
}
#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  position: sticky;
  z-index: 1;
  top: 0;
  margin-right: 0;
}
#drupal-off-canvas-wrapper #drupal-off-canvas {
  padding: 0 0.5rem 0 1rem !important;
  max-height: 75vh !important;
  overflow-x: visible;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#drupal-off-canvas-wrapper #drupal-off-canvas::-webkit-scrollbar {
  display: none !important;
}
#drupal-off-canvas-wrapper details {
  border-width: 2px !important;
  border-color: #747474 !important;
}

.layout-builder-form .form-actions {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 400px);
  z-index: 10;
  align-items: baseline;
  border-radius: 20px 20px 0 0;
  width: 800px;
}

.layout-builder__link--add {
  color: #484848;
}

.layout-builder__link--remove {
  border-color: #484848;
  background-image: url("../img/ui-icons/000000/ex.svg");
}
.layout-builder__link--remove:hover {
  background-image: url("../img/ui-icons/000000/ex.svg");
  border-width: 2px;
}

.layout-builder-block {
  background: none;
}
.layout-builder-block button.trigger {
  border-color: #484848;
  background-image: url("../img/ui-icons/000000/pencil.svg");
}
.layout-builder-block button.trigger:hover {
  background-image: url("../img/ui-icons/000000/pencil.svg");
  border-width: 2px;
}

.contextual-region button.trigger {
  border-color: #484848;
  background-image: url("../img/ui-icons/000000/pencil.svg");
}
.contextual-region button.trigger:hover {
  background-image: url("../img/ui-icons/000000/pencil.svg");
  border-width: 2px;
}

.layout-builder-discard-changes.confirmation,
.layout-builder-revert-overrides.confirmation {
  padding-top: 2.5rem;
}
.layout-builder-discard-changes.confirmation .form-actions,
.layout-builder-revert-overrides.confirmation .form-actions {
  margin-top: 2.5rem;
}

form.uds-form.layout-builder-configure-block .form-check.js-form-type-radio {
  padding: 0;
}
form.uds-form.layout-builder-configure-block .form-check input[type=radio] {
  opacity: 1;
  margin-right: 4px !important;
}
form.uds-form.layout-builder-configure-block .form-check input[type=radio] + label:before, form.uds-form.layout-builder-configure-block .form-check input[type=radio] + label:after {
  content: none;
}

/*# sourceMappingURL=layout-builder.css.map*/