# Ignore SASS files.
/.sass-cache
# Ignore OSX index files.
.DS_Store
# Ignore IDE/app specific files.
*.codekit
.idea
.vscode

config.local.js

# Ignore node modules. Only needed locally when we compile.
node_modules/*

# Ignore SASS source maps
*.script.js.map
*.style.css.map
