.history/
.cache
node_modules/.cache

node_modules/*
!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu
node_modules/@asu/*

!node_modules/@asu-design-system/app-degree-pages
node_modules/@asu-design-system/app-degree-pages/*
!node_modules/@asu-design-system/app-degree-pages/dist
node_modules/@asu-design-system/app-degree-pages/dist/*
!node_modules/@asu-design-system/app-degree-pages/dist/degreePages.production.js
!node_modules/@asu-design-system/app-degree-pages/dist/vendor.production.js
!node_modules/@asu-design-system/app-degree-pages/dist/degreePages.umd.js
!node_modules/@asu-design-system/app-degree-pages/dist/assets
node_modules/@asu-design-system/app-degree-pages/.npm/_logs/

!node_modules/@asu/app-degree-pages
node_modules/@asu/app-degree-pages/*
!node_modules/@asu/app-degree-pages/dist
node_modules/@asu/app-degree-pages/dist/*
!node_modules/@asu/app-degree-pages/dist/degreePages.production.js
!node_modules/@asu/app-degree-pages/dist/vendor.production.js
!node_modules/@asu/app-degree-pages/dist/degreePages.umd.js
!node_modules/@asu/app-degree-pages/dist/assets
node_modules/@asu/app-degree-pages/.npm/_logs/

!node_modules/@asu-design-system/app-rfi
node_modules/@asu-design-system/app-rfi/*
!node_modules/@asu-design-system/app-rfi/dist
node_modules/@asu-design-system/app-rfi/dist/*
!node_modules/@asu-design-system/app-rfi/dist/appRfi.min.js
!node_modules/@asu-design-system/app-rfi/dist/appRfi.umd.js
!node_modules/@asu-design-system/app-rfi/dist/assets
node_modules/@asu-design-system/app-rfi/.npm/_logs/

!node_modules/@asu/app-rfi
node_modules/@asu/app-rfi/*
!node_modules/@asu/app-rfi/dist
node_modules/@asu/app-rfi/dist/*
!node_modules/@asu/app-rfi/dist/appRfi.min.js
!node_modules/@asu/app-rfi/dist/appRfi.umd.js
!node_modules/@asu/app-rfi/dist/assets
node_modules/@asu/app-rfi/.npm/_logs/

/vendor/

.idea
