# NodeJS projects
!node_modules
node_modules/*

node_modules/@asu-design-system
!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu-design-system/component-events
node_modules/@asu-design-system/component-events/*
!node_modules/@asu-design-system/component-events/dist
node_modules/@asu-design-system/component-events/dist/*
!node_modules/@asu-design-system/component-events/dist/events.production.js
!node_modules/@asu-design-system/component-events/dist/vendor.production.js
!node_modules/@asu-design-system/component-events/dist/asuEvents.umd.js
!node_modules/@asu-design-system/component-events/dist/vendor.umd.js
##
node_modules/@asu
!node_modules/@asu
node_modules/@asu/*
!node_modules/@asu/component-events
node_modules/@asu/component-events/*
!node_modules/@asu/component-events/dist
node_modules/@asu/component-events/dist/*
!node_modules/@asu/component-events/dist/events.production.js
!node_modules/@asu/component-events/dist/vendor.production.js
!node_modules/@asu/component-events/dist/asuEvents.umd.js
!node_modules/@asu/component-events/dist/vendor.umd.js

# Drupal/external libraries
/vendor/

# PHPStorm (IDE) configurations
.idea/

# Config management script output
/config/_*changes.diff
/config/**/_diff_commands.bash
*APPLICABLE.patch
.DS_Store
.DS_Stor*
