// Add margin to bottom of an image with a box shadow
.uds-img.uds-img-drop-shadow {
  margin-bottom: 1rem;
}

.uds-img-rounded {
  border-radius: 100%;

  img {
    border: 0;
    border-radius: 100%;
  }
}
